diploma.register/main/resources/wsdl.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="query"
            elementFormDefault="qualified">
  <xsd:element name="query">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="isVideo" type="xsd:boolean"/>
        <xsd:element name="latitude" type="xsd:float"/>
        <xsd:element name="longitude" type="xsd:float"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>